/* Animations de base */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeOut {
  from {
      opacity: 1;
      transform: translateY(0);
  }
  to {
      opacity: 0;
      transform: translateY(20px);
  }
}


@keyframes slideInUp {
    from {
        transform: translateY(20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.3; 
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes pulseBlink {
    0% {
      opacity: 1;
      transform: translate(80%, -60%) scale(1);
    }
    50% {
      opacity: 0.8;
      transform: translate(80%, -60%) scale(1.15);
    }
    100% {
      opacity: 1;
      transform: translate(80%, -60%) scale(1);
    }
  }

  /* Animation bouton check */
@keyframes circleGrowSmooth {
  0% {
    transform: translate(-50%, -50%) scale(0);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}

/* Animation fluide pour la coche */
@keyframes checkmarkRotateSmooth {
  0% {
    transform: translate(-50%, -50%) rotate(-45deg) scale(0);
    opacity: 0;
  }
  100% {
    transform: translate(-50%, -50%) rotate(-45deg) scale(1);
    opacity: 1;
  }
}

/* Animation pour les listes d'activités */
.activites {
    animation: fadeIn 0.5s ease-out;
}

/* Animation pour l'apparition de la section résultat */
.resultat.visible {
    display: block;
}

.resultat.visible .resultat-box,
.resultat.visible .message-container,
.resultat.visible .jauge-container {
    animation: slideInUp 0.5s ease-out forwards;
}

